<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons [collapse]="true" slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>UHF RFID Scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons [collapse]="true" slot="start">
        <ion-back-button default-href="/home"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">UHF RFID Scan</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Tags </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let tag of tagValues()">
        <ion-label>
          <strong>{{ tag.epc }}</strong>
          <br>
          Type: {{ tag.type }}
          <br>
          URI: {{ tag.uri }}
          <br>
          Barcode: {{ tag.barcode }}
          <br>
          Serial: {{ tag.serial }}
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label> Details </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Model: {{ model() }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Scanning: {{ scanning() ? 'YES' : 'no' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Rate: {{ rate() }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Reads: {{ reads() }}</ion-label>
      </ion-item>
<!--      <ion-item>-->
<!--        <ion-button expand="block" size="large" color="primary" (click)="startScan()">-->
<!--          Start Scan-->
<!--        </ion-button>-->
<!--      </ion-item>-->
<!--      <ion-item>-->
<!--        <ion-button expand="block" size="large" color="secondary" (click)="stopScan()">-->
<!--          Stop Scan-->
<!--        </ion-button>-->
<!--      </ion-item>-->
    </ion-item-group>
  </ion-list>
</ion-content>
