<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons [collapse]="true" slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons [collapse]="true" slot="start">
        <ion-back-button default-href="/home"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Cracker</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input label="EPC" [(ngModel)]="epc"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Current Code" [(ngModel)]="code" [readonly]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button *ngIf="!cracking" expand="block" (click)="startCrack()">Start Brute Force</ion-button>
      <ion-button *ngIf="cracking" expand="block" size="large" color="danger" (click)="stopCrack()">STOP</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
